<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".widgets.HeatmapWidgetProvider"
            android:exported="false"
            android:label="@string/widget_heatmap_description">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/heatmap_widget_info" />
        </receiver>

        <receiver
            android:name=".widgets.GoalBalanceWidgetProvider"
            android:exported="false"
            android:label="@string/widget_goal_balance_description">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/goal_balance_widget_info" />
        </receiver>
    </application>
</manifest>
